/* zoom effect on 9 img grid*/

.zoom {
    overflow:hidden;
}
.zoom img {
    transition: all 1.5s ease;
}
.zoom:hover img {
    transform: scale(1.25);
}

$colors: (
    primary: #F5F5F5,
    primary-darker: darken(#F5F5F5, 20%),
    primary-dark: darken(#F5F5F5, 100%),
    hover: #5F9EA0,
    accent: #2F4F4F,
    textlight: #FFFFFF,
);

@function color($color-name) {
    @return map-get($colors, $color-name)
}
























/*---------------------------*/
footer {
  background-color: #111;
}

.fa-inverse:hover {
  color: orange;
}
>>>>>>> contact
